apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: social-media-app
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: REPLACE_IMAGE_BACKEND   # will be replaced in CI with actual image
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
        env:
        - name: NODE_ENV
          value: "production"
