name: Deploy to Kubernetes

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Configure Kubeconfig
      run: |
        mkdir -p ~/.kube
        printf "%s" "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

    - name: Test Kubernetes Connection
      run: kubectl get nodes

    - name: Deploy frontend
      run: kubectl apply -f k8s/frontend-deployment.yaml
